.navbar-brand{
    color: var(--primary-color);
}

a{
    transition: .1s linear!important;
}   
a:hover{
    color: var(--primary-color)!important;
    font-weight: 900;
    
}
.btn-outline-warning{
    color: var(--primary-color);
    border-color: var(--primary-color);
    transition: .1s ease-in-out!important;
    &:hover{
        color: white;
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        transform: scaleX(1.1);
    }
}